
{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %} 

<style>
    .explanation-text{
        color:gray;
        max-width: 750px;
        position: center;
        text-align: justify;
        margin: 0 auto;
    }

    .content-table{
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 700px;
        max-width: 1000px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
        margin-left: auto;
        margin-right: auto;
    }

    .content-table thead tr {
        background-color: #009879;
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3
    }

    .content-table tbody tr:last-of-type{
        border-bottom: 2px solid #009879
    }

    .text-field-form{
        margin-left: auto;
        margin-right: auto;
    }

    .text-field{
        background-color: #f3f3f3;
        width: 700px;
        height: 35px;
        border-radius: 4px;
        border: 2px solid #009879;
        resize: none;
    }


    .button{
        background-color: #009879;
        border: none;
        color: white;
        text-align: center;
        border-radius: 5px 5px 0 0;
        font-size: 16px;
        font-weight: bold;
        height: 35px;
        cursor: pointer;
    }

</style>

<h1 style="text-align: center">EEUU ELECTIONS 2020</h1>

<div class="explanation-text">

    <p>
        Hi! My name is <b>Raúl Castilla Bravo</b> and I'm the author of this project.
    </p>

    <p>
        This application lets you introduce a tweet related with the <b>USA elections 2020</b>
        and it will predict if the tweet is in favor of Trump or Biden. 

        To make the prediction, it uses a <b>Deep Learning Model</b> implemented in <b>Tensorflow</b>.
        
        The full explanation about how has the <b>Machine Learning Model</b> been implemented is
        in my 
        <a 
            href="https://raulcastillabravo.blogspot.com/2020/12/binary-text-classifier-for-eeuu.html" 
            target="blank">
                personal blog
        </a>.
    </p>

    <p>
        <b>IMPORTANT:</b> tweets must be written in <b>English</b>.
    </p>

</div>

<div class="content">
    <form style="text-align: center" caction="/" method="POST">
        <input class="text-field" type="text" name="content" id="content">
        <input class="button" type="submit" value="Predict">
    </form>

    <table class="content-table" >
        <thead>
            <tr>
                <th style="min-width: 75px">Date</th>
                <th>Tweet</th>
                <th>Trump</th>
                <th>Biden</th>
                <th>Actions</th>
            </tr>
        </thead>

        <tbody>
            {% for tweet in tweets %}
            <tr>
                <td>{{ tweet.date_created.date() }}</td>
                <td>{{ tweet.content }}</td>
                <td>50%</td>
                <td>50%</td>
                <td>
                    <a href="/delete/{{tweet.id}}">Delete</a>
                </td>
            </tr>

        {% endfor %}
        </tbody>
    </table>    
</div>

{% endblock %}

